body {
    background: #add3f8;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav {
    text-align: center;
    padding: 15px;
    background: #3e658b;
    color: white;
}

header {
    text-align: center;
    padding: 15px;
    background: #3e658b;
    color: white;
    width: 1900px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #3e658b;
    color: white;
    height: 100%;
    position: static;
}
nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.foto-servidor {
    width: 400px;
    display: block;
    margin: 20px;
    border-radius: 8px;
}
article {
    padding: 20px;
    text-align: center;
}
section {
    padding: 20px;
    text-align: center;
}

.botao {
    display: inline-block;
    padding: 12px;
    background: #3e658b;
    color: white;
    text-decoration: none;         
    border-radius: 8px;
}

table {
    margin: 20px auto;
    padding: 10px;
}

form label {
  font-size: 25px;
}

form input,
form select,
form textarea {
  font-size: 20px;
}